<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<section>
    <h2>Bets</h2>
    <table>
        <thead>
            <tr>
                <th>Better</th>
                <th>Bettee</th>
                <th>Activity</th>
                <th>Deadline</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="openBets">
            {% for b in bets %}
                <tr>    
                    <td> {{ b.better }} </td>
                    <td> {{ b.target }} </td>
                    <td> {{ b.activity }} </td>
                    <td> {{ b.deadline }} </td>
                    <td>
                        <button onclick="complete({{ b.betID }})">Complete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<section>
    <h2>Players</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Pin</th>
                <th>Regenerate</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
                <tr>    
                    <td> {{ u }} </td>
                    <td> {{ users[u].password }} </td>
                    <td>
                        <button>Recreate</button>
                        <button onclick="giveMoney('{{ u }}')">Free money</button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <button onclick="newPlayer()">Add player</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
<section>
    <h2>Activities</h2>
    <table>
        <thead>
            <tr>
                <th>Activity</th>
                <th>ROI</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for a in activities %}
                <tr>    
                    <td> {{ a }} </td>
                    <td> {{ activities[a].ROI }}:1 </td>
                    <td>
                        <button onclick="setROI('{{a}}')">Change ROI</button>
                        <button onclick="alert('Doesnt work. Just set ROI to 0 lol')">Delete</button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <button onclick="newActivity()">New</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
<section>
    <h2>Danger zone!</h2>
    <p> When game is over, press this button to allow complete fucking chaos </p>
    <button>Make all players admin</button>
</section>

<script src="static/socket.io.min.js"></script>
<script>
    function newPlayer() {
        let name = prompt("Name of the player?")
        fetch("/admin/api/player/" + name)
    }
    function setROI(activity) {
        let roi = prompt("What is the new return-rate?")
        fetch("/admin/api/activity/roi/" + activity + "/" + roi)
    }
    function newActivity() {
        let name = prompt("Give a 1-word name")
        let desc = prompt("Give a brief description")
        fetch("/admin/api/activity/new/" + name + "/" + desc)
    }
    function complete(betID) {
        fetch("/admin/api/winbet/" + betID)
    }
    function giveMoney(name) {
        let amount = prompt("How much?")
        fetch("/admin/api/freeMoney/" + name + "/" + amount)
    }
</script>