<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Bets</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>Live Bets</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#market">Market</a></li>
                <li><a href="#bets">Bets</a></li>
                <li><a href="#live-feed">Live Feed First</a></li>
                <li><a href="#bottom">Live Feed Last</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="profile">
            <h2>Welcome, {{ name }}!</h2>
            <p><strong>You have:</strong> ${{ user.money }}</p>
            <p> . </p>
        </section>
        <section id="live-scores">
            <h2>Live Scores</h2>
            <table>
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Cash</th>
                        <th>Stocks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                        <tr>    
                            <td> {{u}} </td>
                            <td> {{users[u].money}} </td>
                            <td> {{user.stocks[u]}} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section id="market">
            <h2>Market</h2>
            <table>
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                    
                        <tr>
                            <td> {{u}} </td>
                            <td> {{u}} </td>
                            <td> 
                                <button onclick="buyStock('{{ u }}')"> Buy </button>
                                <button onclick="sellStock('{{ u }}')"> Sell </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section id="bets">
            <h2>Bets</h2>
            <table>
                <thead>
                    <tr>
                        <th>Activity</th>
                        <th>Return</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in activities %}
                        <tr>    
                            <td> {{a}} </td>
                            <td> {{activities[a].ROI}} : 1 </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section id="live-feed">
            <h2>Live Feed</h2>
            <div class="feed">
                <!-- Add real-time updates here -->
            </div>
        </section>
    </main>
    <footer id="bottom">
        <h2> For Your Convinience </h2>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#profile">Profile</a></li>
                <li><a href="#market">Market</a></li>
                <li><a href="#bets">Bets</a></li>
                <li><a href="#live-feed">Live Feed First</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>


    
{{users}}


<script>

    function buyStock(name, amount) {
        fetch("/person/" + name + "/buy", {
            method: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                amount: 1
            })
        })
    }

    function sellStock(name, amount) {
        fetch("/person/" + name + "/sell", {
            method: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                amount: 1
            })
        })
    }
</script>