<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Bets</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <!-- The Modal -->
    <div id="betModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <form id="betForm" method="POST" action="/activity/bet">
        <label for="target">I bet <select name="target" id="target">
            {% for u in users %}
                <option value="{{ u }}">{{ u }}</option>
            {% endfor %}
        </select>
    </label>
        
        <label for="activity">Will <select name="activity" id="activity">
            {% for a in activities %}
                <option value="{{ a }}">{{ a }}</option>
            {% endfor %}
        </select></label>
        <label for="time">Within <input name="time" id="time" type="number" value="5"/> minutes</label>
        <label for="amount">for $<input name="amount" id="amount" type="number" value="100"/></label>
        <input type="submit" id="betModalBuy" value="Place bet"></button>
      </form>
    </div>

    <script>
        var modal = document.getElementById("betModal");
        var btn = document.getElementById("betModalBuy")
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
            modal.style.display = "none"
        }
        function showModal(activity) {
            modal.style.display = "block"
            document.getElementById("target")
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        } 
    </script>
  
  </div>
    <main>
        <section id="profile">
            <h2>Welcome, {{ name }}!</h2>
            <p><strong>You have:</strong> ${{ user.money }}</p>
            <p> . </p>
        </section>
        <section id="live-bets">
            <h2>Your Bets</h2>
            {% for b in bets %}
                {{ b }}
            {% endfor %}
        </section>
        <section id="live-scores">
            <h2>Live Scores</h2>
            <table>
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Cash</th>
                        <th>Stocks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                        <tr>    
                            <td> {{u}} </td>
                            <td id="{{ u }}-money"> {{users[u].money}} </td>
                            <td id="{{ u }}-stocks"> {{users[u].tot_stocks}} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section id="market">
            <h2>Market</h2>
            <table>
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Price</th>
                        <th>Owned</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                    
                        <tr>
                            <td> {{u}} </td>
                            <td id="{{u}}-price"> {{stock_prices[u]}} </td>
                            <td id="{{name}}{{u}}-stocks"> {{users[name].stocks[u]}} </td>
                                <td>
                                    <button onclick="buyStock('{{ u }}', 1)"> Buy 1</button>
                                    <button onclick="buyStock('{{ u }}', 5)"> Buy 5</button>
                                    <button onclick="buyStock('{{ u }}', 10)"> Buy 10</button>
                                    <button onclick="buyStock('{{ u }}', 50)"> Buy 50</button>
                                    <button onclick="buyStock('{{ u }}', -1)"> Buy max</button>
                                    <button onclick="sellStock('{{ u }}', 1)"> Sell 1</button>
                                    <button onclick="sellStock('{{ u }}', 5)"> Sell 5</button>
                                    <button onclick="sellStock('{{ u }}', 10)"> Sell 10</button>
                                    <button onclick="sellStock('{{ u }}', 50)"> Sell 50</button>
                                    <button onclick="sellStock('{{ u }}', -1)"> Sell all</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section id="bets">
            <h2>Bets</h2>
            <table>
                <thead>
                    <tr>
                        <th>Activity</th>
                        <th>Return</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in activities %}
                        <tr>    
                            <td> <b>{{a}}</b> {{activities[a].desc}} </td>
                            <td> {{activities[a].ROI}} : 1 </td>
                            <td> <button onclick="showModal('{{ a }}')"> Bet </button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section id="live-feed">
            <h2>Live Feed</h2>
            <div class="feed">
                <!-- Add real-time updates here -->
            </div>
        </section>
    </main>

</body>
</html>


    

<script src="static/socket.io.min.js"></script>
<script>
    let feed = document.getElementById("live-feed")
    let username = document.cookie.split('; ').find(x => x.startsWith('name=')).split("=")[1]

    function handleSold(data){
        console.log(data)
        let log = document.createElement("div")
        log.textContent = data["name"] + " sold " + data["amount"] + " stocks of " + data["stock"]
        feed.appendChild(log)
    }

    function handleBought(data){
        console.log(data)
        let log = document.createElement("div")
        log.textContent = data["name"] + " bought " + data["amount"] + " stocks of " + data["stock"]
        feed.appendChild(log)
    }

    function handleBet(data){
        console.log(data)
        let log = document.createElement("div")
        log.textContent = data["name"] + " bet $" +data["amount"] + " on " + data["player"] + " to " + data["activity"]
        feed.appendChild(log)
    }

    function handleReward(data){
        let money_elem = document.getElementById(data["name"] + "-money")
        money_elem.textContent = data["money"]
        let log = document.createElement("div")
        log.textContent = data["name"] + " won $" +data["reward"] + " for " + data["reason"]
        feed.appendChild(log)
    }

    function handleUpdate(data){
        console.log(data)
        if (data["type"] == "player") {
            let money_elem = document.getElementById(data["name"] + "-money")
            money_elem.textContent = data["money"]
            let tot_stock_elem = document.getElementById(data["name"] + "-stocks")
            tot_stock_elem.textContent = data["tot_stocks"]
            let stock_elem = document.getElementById(data["name"] + data["who"] + "-stocks")
            stock_elem.textContent = data["stock"]
            let price_elem = document.getElementById(data["who"] + "-price")
            price_elem.textContent = data["price"]
        }
    }

    function connect() {
        let url = document.domain + ":" + location.port //5001
        let socket = io.connect("ws://" + url)
        socket.on("connect", () => {
            console.log(socket.id)
        })
        socket.on("sold", (data) => handleSold(data))
        socket.on("reward", (data) => handleReward(data))
        socket.on("bet", (data) => handleBet(data))
        socket.on("bought", (data) => handleBought(data))
        socket.on("update", (data) => handleUpdate(data))
        return socket
    }

    function buyStock(name, amount) {
        // amount = prompt("How many?")
        fetch("/person/" + name + "/buy", {
            method: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                amount: Number(amount)
            })
        })
    }

    function sellStock(name, amount) {
        fetch("/person/" + name + "/sell", {
            method: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                amount: Number(amount)
            })
        })
    }

    function bet(name, activity, amount) {
        fetch("/activity/" + activity + "/bet", {
            method: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                amount: 100,
                player: name,
                time: 300
            })
        })
    }


    var socket = connect()

</script>