
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Bets</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<canvas id="history" style="width:90%;height:30%"></canvas> <br>
<canvas id="top5" style="width:100%;max-width:700px"></canvas> 
<section id="live-feed">
    <h2>Live Feed</h2>
    <div class="feed">
        <!-- Add real-time updates here -->
    </div>
</section>
</body>
<script src="static/socket.io.min.js"></script>
<script src="static/Chart.js"></script>
<script>
    let players = {}
    ds = []
    let feed = document.getElementsByClassName("feed")[0]
    const barColors = ["red", "green","blue","orange","brown", "red", "green","blue","orange","brown", "red", "green"];
    const top5money = [55, 49, 44, 24, 15];
    var top5players = ["William", "Sexy", "Wictor", "Oliver", "Mani"]
    
    function init() {
        fetch("/api/players/money").then(async (data) => {players=await data.json()}).then(() => {
            players.forEach(p => {
                ds.push({
                    data: [p.money],
                    label: p.name,
                    fill: false,
                    borderColor: randomColor()
                })
            })
            historyChart.update()
            let top5 = players.sort((x, y) => y.money-x.money).slice(0,5)
            newTop5(top5.map(x=>x.name), top5.map(x=>x.money))
        })
    }
    init()
    

    var top5chart = new Chart("top5", {
        type: "bar",
        options: {
            legend: {display: false}
        },
        data: {
            labels: top5players,
            datasets: [{
                backgroundColor: barColors,
                data: top5money
            }]
        }
    });

    var historyChart = new Chart("history", {
        type: "line",
        options: {
            legend: {display: true}
        },
        data: {
            datasets: ds
        }
    });

    function randomColor() {
        let r = Math.floor(Math.random() * 255);
        let g = Math.floor(Math.random() * 255);
        let b = Math.floor(Math.random() * 255);
        let color = "rgb(" + r + "," + g + "," + b + ")";
        return color
    }

    function addHistory(data){
        users = data["data"]
        console.log(users)
        historyChart.data.labels.push(" ")
        users.forEach(u => {
            i = historyChart.data.datasets.indexOf(historyChart.data.datasets.find(d => d.label === u.name))
            historyChart.data.datasets[i].data.push(u.money)
            historyChart.data.datasets[i].borderColor = barColors[i]
        })
        historyChart.update()
    }

    function newTop5(players, money){
        top5chart.data.labels = players
        top5chart.data.datasets[0].data = money
        top5chart.update()
    }

    function handleSold(data){
        console.log(data)
        let log = document.createElement("div")
        log.textContent = data["name"] + " sold " + data["amount"] + " stocks of " + data["stock"]
        feed.insertBefore(log, feed.childNodes[0])
    }

    function handleBought(data){
        console.log(data)
        let log = document.createElement("div")
        log.textContent = data["name"] + " bought " + data["amount"] + " stocks of " + data["stock"]
        feed.insertBefore(log, feed.childNodes[0])
    }

    function handleBet(data){
        console.log(data)
        let log = document.createElement("div")
        log.textContent = data["name"] + " bet $" +data["amount"] + " on " + data["player"] + " to " + data["activity"]
        feed.insertBefore(log, feed.childNodes[0])
    }

    function handleReward(data){
        let log = document.createElement("div")
        log.textContent = data["name"] + " won $" +data["reward"] + " for " + data["reason"]
        feed.insertBefore(log, feed.childNodes[0])
    }

    function connect() {
        let url = document.domain + ":" + location.port //5001
        let socket = io.connect("ws://" + url)
        socket.on("connect", () => {
            console.log(socket.id)
        })
        socket.on("sold", (data) => handleSold(data))
        socket.on("bet", (data) => handleBet(data))
        socket.on("reward", (data) => handleReward(data))
        socket.on("bought", (data) => handleBought(data))
        socket.on("history", (data) => addHistory(data))
        return socket
    }
    connect()

</script>
</html>